body {
  font-family: "Playfair Display", serif;
}

.title {
  margin-top: 100px;
  font-size: 48px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
}

.contact-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #6c63ff;
  color: #fff;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
}

.about-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #6c63ff;
  color: #fff;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
}

.project-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #6c63ff;
  color: #fff;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.email-link {
  display: flex;
  justify-content: center;
  color: #6c63ff;
  font-size: 28px;
  text-decoration: none;
}

.about-paragraphs p {
  margin: 10px;
}

@media (max-width: 576px) {
  p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
  }
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  color: #000000;
}

.about-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.about-section-content {
  margin: 30px;
}

.btn-branding {
  background-color: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  color: black;
  background-color: #6c63ff;
}

.myphoto {
  width: 400px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
